 @* 
   * main() is a function used to "hold" the MAIN content of the page requested.
   * It is passed into /views/main.scala.html which is a Layout template.
   *@
   
@main("ScalaBlog - Administration") {

    <!--  This isn't strictly a Blog-post but we'll use the same styling!  -->
    <div class="blog-header">
        <h1 class="blog-title">ScalaBlog</h1>
        <p class="lead blog-description">System Administration</p>
    </div>
      
    <div class="blog-post">
        <ul>
			<li><a href="@controllers.routes.Application.appconfig()">Application Configuration</a></li>
       </ul>
    </div><!-- /.blog-post -->
}
